@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

body {
    min-height: 103vh;
    background-color: var(--LightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: "Outfit", sans-serif ;


}

.container {
    display: flex;
    background-color: var(--White);
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* width: 370px; */
    max-width: 22rem;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 1px 1px 30px var(--GrayishBlue);
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.container h1, 
.container p {
    padding-left: 30px;
    padding-right: 30px;
}

.container h1 {
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
}

.container p {
    font-weight: 400;
    color: var(--GrayishBlue);
    font-size: 0.9rem;
    padding-bottom: 20px;
    text-align: center;
}

